USE [master]
GO
/****** Object:  Database [XProject]    Script Date: 8/4/2023 6:37:50 PM ******/
CREATE DATABASE [XProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HUNZG\MSSQL\DATA\XProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'XProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HUNZG\MSSQL\DATA\XProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XProject]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 8/4/2023 6:37:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[ID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Salary] [float] NULL,
	[Email] [varchar](50) NULL,
	[Gender] [char](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
